.about {
    display: flex;
    align-items: center;
    position: relative;

    padding-top: 4rem;
    padding-right: 20rem;
    padding-left: 20rem;
    margin-top: 2.4rem;
    margin-bottom: 5rem;
}

.about p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-gray-1);

    margin-bottom: 1.75rem;
}

.about h2 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-black);

    margin-top: 4.375rem;
    margin-bottom: 2.125rem;
}

.about-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* .about-content-description strong {
    transition: color 1s;
    -webkit-transition: color 1s;
} */

.about-content-description-animation strong {
    animation: color-bold 1s linear forwards;
}

@keyframes color-bold {
    100% {
        color: var(--color-blue);
    }
}

.about-picture img {
    width: 345px;
    margin-right: 1.375rem;

    /* transition: transform 1s, opacity 1s;
    -webkit-transition: transform 1s, opacity 1s; */

    transform: rotate(-15deg) scale(1.1);
    position: absolute;
    overflow: hidden;
}

.about-picture-animation img {
    animation: rotate 1s ease forwards;
}

/* .about-picture-animation img {
    transform: rotate(0deg) scale(1);
    opacity: 1;
} */

@keyframes rotate {
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.about-picture {
    position: relative;
    overflow: hidden;
    width: 345px;
    height: 429px;
}

.about-picture-hover {
    position: absolute;
    width: 345px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.about-picture-hover:hover {
    opacity: 1;
}

.about-content-links {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;

    margin-top: 1.188rem;
}

.about-content-changepicture button {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    background: none!important;
    border: none;
    cursor: pointer;
    color: var(--color-blue);
}

.about-picture-popup {
    display: none;
    position: absolute;
    left: -80px;
    top: -22px;
}

/* .about-content-links-button {
    flex: 1;
    width: 224px;
    min-height: 50px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFF;
    background-color: #000;
    border: 0px;
    border-radius: 5px;
    display: block;

    padding-top: 0.75rem;
    padding-bottom: 0.813rem;
    padding-left: 1rem;
} */

/* .about-content-links img {
    width: 50px;
    height: 50px;

    margin-left: 1.25rem;
} */
  
.about-content-links-button {
    position: relative;
    /* margin-right: 1.25rem; */
}

.about-content-links-button a {
    display: block;
    /* width: 250px; */
    height: 50px;
    border-radius: 25px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;

    padding-top: 0.563rem;
    padding-bottom: 0.625rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    color: #fff;
    transition: all .35s;
    -webkit-transition: all .35s;
}

.about-content-links-button a:hover {
    background: transparent;
}

.about-content-links-button-solid a {
    background: var(--color-blue);
    border: 3px solid var(--color-blue);

    mix-blend-mode: normal;
    filter: drop-shadow(0px 0px 10px rgba(129, 116, 127, 0.3));
}

.about-content-links-button-solid a:hover {
    border: 3px solid var(--color-blue);
    color: var(--color-blue);
}

.about-content-links-button-ghost a {
    background: var(--color-bg-1);
    color: var(--color-blue);
    border: 3px solid var(--color-bg-1);
    font-weight: bold;
}

.about-content-links-button-ghost a:hover {
    border: 3px solid var(--color-blue);
}

@media screen and (max-width: 1300px) {
    .about {
        padding-right: 10rem;
        padding-left: 10rem;
    }
    .about h2 {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    .about {
        flex-direction: column;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .about-picture {
        order: 1;
    }
    .about-picture img {
        margin-right: 0;
        width: 100%;
        height: auto;
    }
    .about-content {
        width: 100%;
        order: 2;
    }
    .about-content p {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .about {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}