.artwork {
    padding-top: 5rem;
    padding-bottom: 12rem;
    padding-right: 20rem;
    padding-left: 20rem;

    background-color: var(--color-white);
}

.artwork-title h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: var(--color-gray);

    margin-bottom: 0.375rem;
}

.artwork-title h2 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: var(--color-black);

    margin-bottom: 3.75rem;
}

.artwork-description {
    margin-bottom: 3.25rem;
}

.artwork-description p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-gray);

    margin-bottom: 1.75rem;
}

.artwork-description ul {
    list-style-position: inside;
}

.artwork-description li {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-gray);
}

.artwork-description:hover .artwork-description-bullet {
    color: var(--color-blue)
}

.artwork-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.artwork-gallery img {
    max-width: 100%;
    filter: grayscale(1);
    padding: 0.5rem;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
}

.artwork-gallery img:hover {
    filter: grayscale(0);
    outline: var(--color-blue) solid 3px;
}

.artwork-title:hover .artwork-title-sub {
    color: var(--color-blue);
}

@media screen and (max-width: 1300px) {
    .artwork {
        padding-right: 10rem;
        padding-left: 10rem;
    }
}
@media screen and (max-width: 1050px) {
    .artwork {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

@media screen and (max-width: 700px) {
    .artwork {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}