.header {
    display: flex;
    position: relative;
    overflow: hidden;

    height: 100vh;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header-content h1 {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    color: var(--color-black);

    margin-top: 21.375rem;
    margin-bottom: 2.25rem;
    margin-left: 7.625rem;

    z-index: 1;
}

.header-content h1:hover .underline {
    text-decoration: underline;
    text-decoration-color: var(--color-blue);
}

.header-content h2:hover .header-content-bold {
    color: var(--color-blue);
}

.header-content h2 {
    font-family: var(--font-family-2);
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: var(--color-black);
    opacity: 0;

    margin-left: 7.625rem;
    width: 40vw;

    z-index: 1;

    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.header-content-animation h2 {
    opacity: 1;
}

.header-image img {
    width: 36vw;
    height: auto;
    position: absolute;
    top: 12vh;
    left: 32vw;
    right: 32vw;

    overflow: hidden;
}

@media screen and (max-width: 1100px) {
    .header {
        margin-left: 0rem;
        align-items: center;
        flex-direction: row;

        height: auto;
    }
    .header-image img {
        height: auto;
    }
    .header-content h1 {
        margin-top: 50vh;
        margin-left: 3rem;
    }
    .header-content h2 {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .header-image img {
        width: 60vw;
        left: 20vw;
        right: 20vw;
        height: auto;
    }
    .header-content h1 {
        margin-top: 50vh;
        margin-left: 3rem;

        font-size: 72px;
        line-height: 83px;
    }
    .header-content h2 {
        margin-left: 3rem;

        font-size: 24px;
        line-height: 28px;

        width: 80vw;
    }
}