
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    width: 100%;
    z-index: 5;
    top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 1.75rem;

    /* background: var(--color-white);
    border: var(--color-black) solid 1px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    top: 0px;
    transition: 0.3s opacity;
    -webkit-transition: 0.3s opacity;
}

.navbar-links:hover {
    border-bottom: 1px solid var(--color-gray);
}

.navbar-initials {
    margin-right: 0rem;
    justify-content: flex-start;
}

.navbar-initials img {
    width: 52px;
    height: auto;

    /* border-bottom: rgba(0, 0, 0, 0) solid 1px; */
}

/* .navbar-initials img:hover {
    border-bottom: var(--color-gray) solid 1px;
} */

.navbar-links ul li {
    display: inline-block;
    height: 28px;
}

.navbar-links a {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 0.4rem;
    padding-left: 1.2rem;
}

.navbar-links li {
    font-family: var(--font-family-2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-black);

    width: 8rem;
    height: 100%;
    cursor: pointer;
}

.navbar-links li:hover {
    background: var(--color-black);
    color: #ffffff;
}

@media screen and (max-width: 1050px) {
    .navbar {
        display: none;
    }
}
