.footer {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: flex-end;

    -webkit-justify-content: flex-end;
    align-items: flex-end;
    -webkit-align-items: flex-end;

    justify-content: flex-start;
    background-color: var(--color-black);
    padding-top: 3.375rem;
    padding-bottom: 3.875rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.footer:hover {
    background-color: var(--color-blue);
}

.footer-initials img {
    width: 60px;
    height: auto;
    margin-right: 3.375rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    margin-right: 6.25rem;
}

.footer-contact h2 {
    font-family: var(--font-family-2);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-white);
    margin-bottom: 0.75rem;
}

.footer p {
    font-family: var(--font-family-2);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-white);
}

.footer-copyright {
    margin-left: auto;
}

@media screen and (max-width: 1300px) {
    .footer {
        padding-right: 10rem;
        padding-left: 10rem;
    }
}

@media screen and (max-width: 1050px) {
    .footer {
        padding-right: 5rem;
        padding-left: 5rem;
        align-items: center;
        flex-direction: column;
    }
    .footer-initials img {
        margin-right: 0;
    }
    .footer-contact {
        margin-right: 0;
        margin-bottom: 3rem;
    }
    .footer h2, .footer p {
        text-align: center;
    }
    .footer-links img {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 8rem;
    }
    .footer-copyright {
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}