* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

body {
    opacity: 0;
}
 
.fade-in {
    opacity: 1;
    transition: 2s opacity ease-in;
    -webkit-transition: 2s opacity ease-in;
}


.top-background {
    background-image: url("assets/curve1.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.bottom-background {
    background-image: url("assets/curve2.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}
