* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

.top-background {
    background-image: url("assets/curve1.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.bottom-background {
    background-image: url("assets/curve2.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}

.flip-diagonal-2-fwd {
	-webkit-animation: flip-diagonal-2-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-diagonal-2-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes flip-diagonal-2-fwd {
    0% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
    }
    100% {
      -webkit-transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
              transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
    }
  }
  @keyframes flip-diagonal-2-fwd {
    0% {
      -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
              transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
    }
    100% {
      -webkit-transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
              transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
    }
  }
  