* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-1)
}

a {
    color: unset;
    text-decoration: none;
}

/* body {
    opacity: 0;
} */
 
/* .fade-in {
    opacity: 1;
    transition: 2s opacity ease-in;
    -webkit-transition: 2s opacity ease-in;
} */


.top-background {
    background: linear-gradient(257.62deg, rgba(9, 187, 211, 0.24) 1.05%, rgba(255, 168, 38, 0.17) 53.26%, rgba(221, 37, 103, 0.14) 104.65%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.top-background-curve {
    background-image: url("assets/curve1.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-y: 40vh;
}

.bottom-background {
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}
