/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap'); */

:root {
    --font-family: 'serif';

    --color-white: #FFFFFF;
    --color-black: #1D1D21;
    --color-gray: #62626A;
    --color-blue: #4848ED;
}